@charset "utf-8";

*{margin:0; padding:0}
body{padding:10px; line-height:18px; font-size:14px; line-height:21px; font-family:'微软雅黑', Arial, Helvetica, sans-serif; color:#000}
h2{font-size:28px; line-height:42px}
h3{margin-top:20px; font-size:20px; line-height:30px}
h4{margin-top:20px; font-size:15px; line-height:21px}
pre{margin:10px 0 0 10px; padding:10px; background:#eee}
p{margin:10px 0 0 10px}
em{color:#C00; font-style:normal}

/*select*/
.ui-select{display:inline-block; zoom:1; *display:inline; position:relative; border:1px solid #e5e5e5; white-space:nowrap; vertical-align:middle; width:100px; background:#fff; height:24px; line-height:24px; text-align:left; z-index:200}
.ui-select .current{position:absolute; top:0; left:0; cursor:pointer; overflow:hidden; padding:0 3px; z-index:100; background:#fff}
.ui-select .current .txt{text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left}
.ui-select:hover .current .txt{color:#90b830; transition-property:color}
.ui-select .pointer{position:absolute; top:0; right:0; width:20px; z-index:101; cursor:pointer; background:#fff; text-align:left}
.ui-select .pointer .ico{background-position:-12px 0; width:12px; height:12px; vertical-align:top}
.ui-select:hover .pointer .ico{background-position:-24px 0}
.ui-select .items{position:absolute; left:-1px; z-index:99; line-height:23px; border:1px solid #693; display:none; background:#fff}
.ui-select .items li{float:none; padding:0 3px; cursor:default; border-bottom:1px dotted #ccc}
.ui-select .items li:hover{background-color:#90b830; color:#fff; transition-property:color,background-color}
.ui-select .items li a:hover{color:#fff;}
.ui-select .items .last{border:none}
.ui-select .items .selected{background-color:#F8F6EF; color:#000}
.ui-select .items .default{display:none}
.ui-select .ui-select-result{display:none}
.ui-select.active{border-color:#693!important}
.ui-select.active .current{border-bottom:1px dotted #ccc}
.ui-select.active .pointer .ico{background-position:-48px 0}
