@charset "utf-8";

/**********global**********/
html,body,iframe,
div,h1,h2,h3,h4,h5,h6,p,pre,dl,dt,dd,ol,ul,li,
nav,header,footer,section,article,aside,details,summary,
form,label,fieldset,legend,hr,dialog,
canvas,object,embed,progress,audio,video,track,map,area,figure,figcaption,
table,caption,tbody,tfoot,thead,tr,th,td,
span,a,b,strong,em,mark,blockquote,code,del,abbr,dfn,big,small,time,i,acronym,address,cite,ins,kbd,q,samp,sub,sup,tt,var{margin:0; padding:0; border:none; font:inherit}

body{font-size:12px; line-height:16px; letter-spacing:0; font-family:"微软雅黑", "Arial", "Helvetica", "sans-serif"; background:#fff; color:#000; cursor:default; vertical-align:baseline; word-wrap:break-word; word-break:break-all}

:hover{transition-duration:.3s; transition-timing-function:ease; transition-property:none}

h1{font-size:32px; line-height:48px}
h2{font-size:24px; line-height:36px}
h3{font-size:18px; line-height:27px}
h4{font-size:14px; line-height:21px}

ol,ul,dl{list-style:none}

table{border-collapse:collapse; border-spacing:0}

a{text-decoration:none; color:#666}
a:link{}
a:visited{}
a:hover{text-decoration:underline; color:#000; transition-property:color, border-color, background-color;}
a:active{}

img{vertical-align:top; border:none; -ms-interpolation-mode:bicubic;}

/*icon*/
.ico{display:inline-block; border:none; background:url(../images/icons.png) transparent 0 0 no-repeat; overflow:hidden; vertical-align:middle; text-align:center; width:12px; height:12px; }

/*button*/
.btn{display:inline-block; border:none; background:transparent 0 0 no-repeat; overflow:visible; cursor:pointer; text-align:center; vertical-align:top; text-decoration:none; font-weight:normal; font-size:12px; box-sizing:content-box; -moz-box-sizing:content-box; padding:0; margin:0}
.btn:hover{text-decoration:none; transition-property:border-color,color}

/*fix*/
.clearfix:after {clear:both;content:" ";display:block;height:0;visibility:hidden;}
.clearfix {zoom:1;}

/**********widgets**********/
html{position: relative}
body{margin:20px}
h2{margin-top:20px}
.section{margin-top:10px}


/*lightbox*/
.lightbox-noselect{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.lightbox-onmove{cursor: move}

.lightbox{position:absolute; top:0; left:0; margin:0; padding:6px; border:1px solid #ccc; background:#fff; box-shadow: 0 0 10px 0 rgba(2, 0, 0, 0.20)}
.lightbox div,
.lightbox i,
.lightbox a,
.lightbox img,
.lightbox span{border:none; margin:0; padding: 0}
.lightbox img{vertical-align:top; -ms-interpolation-mode:bicubic;}
.lightbox .wrapper{position: relative}
.lightbox .ico{display:inline-block; border:none; overflow:hidden; vertical-align:middle; text-align:center; width:12px; height:12px;background: url(../images/ico-lightbox.png) transparent 0 0 no-repeat}
.lightbox .btn{display:inline-block; border:none; background:transparent 0 0 no-repeat; overflow:visible; cursor:pointer; text-align:center; vertical-align:top; text-decoration:none; font-weight:normal; font-size:12px; box-sizing:content-box; -moz-box-sizing:content-box}
.lightbox .picholder{position: relative; background:#000 url(../images/loading2.gif) 50% 50% no-repeat; overflow: hidden}
.lightbox .picholder .loader{background:#000 url(../images/loading2.gif) 50% 50% no-repeat; position:absolute; top: 0; left: 0; width: 100%; height: 100%}
.lightbox .nav{position: absolute; vertical-align:middle}
.lightbox .nav .btn{display:inline-block; padding: 6px; background: #fff; vertical-align:middle; line-height: 16px; cursor:pointer}
.lightbox .nav .btn .ico{width: 30px; height: 30px;}
.lightbox .nav .btn .tit{display: none}
.lightbox .nav-prev{left: -1px; text-align: left}
.lightbox .nav-prev .ico{background-position: 0 -54px}
.lightbox .nav-next{right: -1px; text-align: right}
.lightbox .nav-next .ico{background-position: -30px -54px}
.lightbox .nav{position: absolute; top: 0}
.lightbox .info{margin-top: 6px}
.lightbox .exec{position: absolute; bottom: 0; right: 0; text-align: right}
.lightbox .exec .btn{margin-left:6px}
.lightbox .btn-full .ico{background-position: -12px 0}
.lightbox .btn-close .ico{background-position: 0 0}
.lightbox-fullstage{background-color:#000; position:absolute; top:0; left:0; overflow:hidden}
.lightbox-fullstage .ico{display:inline-block; border:none; overflow:hidden; vertical-align:middle; text-align:center; width:12px; height:12px;background: url(../images/ico-lightbox.png) transparent 0 0 no-repeat}
.lightbox-fullstage .exec{position: absolute; text-align: center; bottom: 0; right: 0; padding: 5px 5px 5px 0; height: 32px; background:rgba(2, 0, 0, 0.20); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#14000000)}
.lightbox-fullstage .exec .btn{border:1px solid #aaa; margin-left:5px; background: #fff}
.lightbox-fullstage .exec .btn:hover{border-color:#000}
.lightbox-fullstage .exec .btn .ico{width: 30px; height:30px; }
.lightbox-fullstage .exec .btn .tit{height:16px; line-height: 16px; display: none}
.lightbox-fullstage .exec .btn-zoomin .ico{background-position: -60px -24px}
.lightbox-fullstage .exec .btn-zoomout .ico{background-position: -90px -24px}
.lightbox-fullstage .exec .btn-reset .ico{background-position: -120px -24px}
.lightbox-fullstage .exec .btn-closefull .ico{background-position: -60px -54px}

